################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/CS372Lab.-berry-/FileContentIndex/09dacf45-1ad9-421f-8071-4acdc3e86e20.vsidx
/.vs/CS372Lab.-berry-/FileContentIndex/68edaf85-63ce-4cfb-86b2-d4243b100d5e.vsidx
/.vs/CS372Lab.-berry-/FileContentIndex/9364bbad-2c81-45dc-b53f-a487cc49f9c6.vsidx
/.vs/CS372Lab.-berry-/FileContentIndex/d08b434f-1915-4c18-9676-c5b08f76c3b5.vsidx
/.vs/CS372Lab.-berry-/FileContentIndex/d6f8b5aa-106d-4949-809a-b216bcd13770.vsidx
