################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS372Lab.-berry-/FileContentIndex/68edaf85-63ce-4cfb-86b2-d4243b100d5e.vsidx
/.vs/CS372Lab.-berry-/FileContentIndex/9364bbad-2c81-45dc-b53f-a487cc49f9c6.vsidx
/.vs/CS372Lab.-berry-/FileContentIndex/d08b434f-1915-4c18-9676-c5b08f76c3b5.vsidx
/.vs/CS372Lab.-berry-/FileContentIndex/7cfa6992-65f2-4c97-90e5-ad58150e1935.vsidx
